{% for key,value in ygroups.items() %}
Defaults:%{{ value.group }} env_keep += "FINDO_* YVA_*"
Cmnd_Alias AUTH_CMD_{{ value.group|upper }}=/opt/auth/wrappers/ssh.sh --access-group {{key}} *
%{{ value.group }} ALL=(auth) NOPASSWD: AUTH_CMD_{{ value.group|upper }}
{% endfor %}